body {
	background-color: #d8d4d4; 
	margin: 0;
}
.container {
	width: 85%;
	margin: 0 auto;
}
.divcontainer {

	padding: 50px;
	position: absolute;
    top: 80px;
	background-color: #FFFFFF;
	width: 80%;
	box-shadow: 0 0 30px 0 rgb(0,0,0,0.5);

}

.left {
	float: left;
	position: relative;
	width: 50%;
}
.right {

	float: right;
	position: relative;
	width: 50%;
}

.right li {

	cursor: pointer;
}
h3{
	text-align: center;
	color: #999999;
	font-family: "Arial Black";
}
hr {
	width: 80%;
	border: 0; 
	border-top: 1px;
	border-bottom: 1px 
	solid #999; 
	height:0;
	background-color: red;
}

.header {
		background: #333;
		color: white;
		height: 80px;
		width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
		position: fixed; /* Hacemos que la cabecera tenga una posición fija */
}

.header a {
		color: #fff;
		text-decoration: none;
}

.logo-nav-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
}

.navigation ul {

	margin: 0;
	padding: 0;
	list-style: none;
}

.navigation ul li {
	display: inline-block;
}

.navigation ul li a {
	display: block;
	padding: 0.5rem 1rem;
	transition: all 0.3s linear;
	border-radius: 3px;
}
.navigation ul li a:hover {
	background-color: #ccc;
}

.logo {

	width: 15%;
  	
}

.footer {
	background: #f2f2f2;
	padding: 4rem 0;
	text-align: center;
	margin-top: 6rem;
}


.has-error {
			color: #d82100;
}
.has-error textarea {

		border-color: #d81818;
}

.has-error p {
			color: #d81818;
}

.has-error textarea:Focus {

		border-color: red;
		box-shadow: 0 0 0.3em #d81818;
}

/*----------- CAJA ----------- */
.caja {
	 max-height: 80px;
	 min-height: 80px;
	 overflow: hidden;
	 background-color: #333 !important;
	 color: #47b113;
}

.cajados {
	 max-height: 130px;
	 min-height: 130px;
	 overflow: hidden;
	 background-color: #333 !important;
	 color: #47b113;
}

.cajatres {
	 max-height: 1000px;
	 min-height: 1000px;
	 overflow: hidden;
	 background-color: #333 !important;
	 color: #47b113;
}

.caja:hover{
	 color: #54ff00!important;
	 
}
.cajados:hover{
	 color: #54ff00!important;
	 
}

.cajatres:hover{
	 color: #54ff00!important;
	 
}

.box {


background: #EEE; 
margin: 0 0 25px; 
overflow: hidden; 
padding: 10px; 
border-radius: 15px 0px 15px 0px; 
-moz-border-radius: 15px 0px 15px 0px; 
-webkit-border-radius: 15px 0px 15px 0px;  
box-shadow: 0 0 30px 0 rgb(0,0,0,0.8);

}